body {
    font-family: 'Century Gothic', 'Futura', 'Trebuchet MS', sans-serif;
    background-color: #594947; /* Main dark color */
    color: #ECF2DF; /* Light text */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 400%;
    background-color: #080D07; /* Darker background for header */
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}

nav a {
    color: #ECF2DF; /* Light text */
    text-decoration: none;
    margin: 0 15px;
}

#branding h1 {
    text-align: left;
    font-size: 2em;
    color: #ECF2DF;
    margin-left: 20px;
}

main {
    padding: 20px;
}

#portfolio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    background-color: #594947; /* Medium color */
}

#central-project {
    flex: 100%;
    max-width: 1000px; /* or whatever maximum width you want for your central project */
    margin: 0 auto; /* Centers the project */
    /* Additional styling here if needed */
}

#other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 125%; /* Adjust as needed */
}

.project {
    width: calc(20% - 10px); /* Adjust width for wrapping, subtracting the gap */
    margin: 10px;
    background-color: #594947; /* Light color for project cards */
    color: #594947; /* Text color */
    border: none;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
}

.project h3, .project p {
    margin: 10px 0;
}

.project a {
    color: #080D07; /* Dark text */
    background-color: #ECF2DF; /* Light background */
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

footer {
    background-color: #262405; /* Dark footer background */
    color: #ECF2DF; /* Light text */
    text-align: center;
    padding: 50px 0;
    width: 100%;
}

/* Scrollbar Styles */
#portfolio-section::-webkit-scrollbar {
    height: 8px;
}

#portfolio-section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#portfolio-section::-webkit-scrollbar-thumb {
    background: #888;
}

#portfolio-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 1200px) {
    .project {
        width: 40%; /* Adjust project size for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    
    nav a {
        margin: 5px 0;
    }
    
    .project, #central-project {
        width: 40%; /* Adjust project size for mobile screens */
    }
    
    #portfolio-section {
        flex-direction: column;
    }
}
